//output:../imprint.html

doctype html
html  
    head  
        title=MRopohl
        meta(charset="utf-8")
        meta(name="viewport", content = "width=device-width", initial-scale = 1.0)
        link(rel="stylesheet", href="assets/css/1-tools/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/imprint.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700", type="text/css")
        link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,100italic,400italic,700,700italic', type='text/css')
        script(src="assets/js/jquery-2.2.1.min.js")
        script(src="assets/js/jquery.waypoints.min.js")
        script(src="assets/js/bootstrap/bootstrap.min.js")
        script(src="assets/js/main.js")
        
        body
            .container.imprint-container.text-center
                h1.Imprint-h1 Impressum
                .text-imprint
                    p So können sie mich kontaktieren:
                    p Max Ropohl   
                    p Gerkrathstraße 13
                    p 14129 Berlin
                    p Tel: +49 01774235682
                    p E-Mail: m.ropohl@outlook.de
